.one {
    font-family: 'Indie Flower', cursive;
    color: brown;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 0.5em;
    
}

.two {
    font-family: 'Lobster', cursive;
    color: blue;
    font-size: 25px;
    font-weight: 500;
    line-height: 2em;
    letter-spacing: 0.3em;
    
}